{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ],
    "flow"
  ],
  "plugins": ["flow-runtime", "transform-decorators-legacy", "transform-class-properties"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
